<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IBillRecordMapper">
	<resultMap id="resultMap" type="com.webapps.common.entity.BillRecord">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="wallet_id" jdbcType="DECIMAL" property="walletId" />
		<result column="type" jdbcType="DECIMAL" property="type" />
		<result column="fee" jdbcType="DECIMAL" property="fee" />
		<result column="data_state" jdbcType="DECIMAL" property="dataState" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
	</resultMap>

	<sql id="select_columns">
		ID,wallet_id,type,fee, data_state,CREATE_TIME,UPDATE_TIME
	</sql>

	<sql id="insert_columns">
		wallet_id,type,fee, data_state,CREATE_TIME
	</sql>
	
	<select id="getById" resultMap="resultMap">
		select <include refid="select_columns" /> from t_bill_record where id = #{id}
	</select>
	
	<!-- 查询所有 -->
	<select id="queryAll" resultMap="resultMap">
		select <include refid="select_columns" /> from t_bill_record where data_state = 1
	</select>
	
	<!-- 查询所有 -->
	<select id="queryBywalletId" resultMap="resultMap">
		select <include refid="select_columns" /> from t_bill_record where wallet_id = #{walletId} 
	</select>
	
	<!-- 根据行政区等查询 -->
	<select id="queryBywalletIdAndType" resultMap="resultMap">
		select <include refid="select_columns" /> from t_bill_record where type = #{type} and wallet_id = #{walletId}
	</select>
	
	<select id="sumFeeBywalletIdAndType" resultType="java.math.BigDecimal">
		select sum(fee) from t_bill_record where type=#{type}
	</select>
	
	<select id="queryCount" resultType="java.lang.Integer">
		SELECT count(1) FROM t_bill_record
			where data_state = 1 and wallet_id = #{obj.walletId}
	</select>

	<select id="queryPage" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
		SELECT
		<include refid="select_columns" />
		FROM t_bill_record
		where wallet_id = #{obj.walletId}
		order by create_time desc
		<include refid="ORACLE.paginationEnd" />
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="obj.id" parameterType="com.webapps.common.entity.BillRecord">
		insert into t_bill_record
		(
			<include refid="insert_columns" />
		)
		values
		(
			#{obj.walletId},
			#{obj.type},
			#{obj.fee},
			#{obj.dataState},
			now()
		)
	</insert>
	
	<update id="updateById">
		update t_bill_record set 
		wallet_id=#{obj.walletId},
		fee=#{obj.fee},
		type=#{obj.type},
		update_time=now()
		where id=#{id}
	</update>
</mapper>