<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.ICompanyMapper">
	<resultMap id="resultMap" type="com.webapps.common.entity.Company">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="telephone" jdbcType="VARCHAR" property="telephone" />
		<result column="contact_Name" jdbcType="VARCHAR" property="contactName" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="enterprise_legal_person" jdbcType="VARCHAR" property="enterpriseLegalPerson" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="data_state" jdbcType="DECIMAL" property="dataState" />
		<result column="briefs" jdbcType="VARCHAR" property="briefs" />
		<result column="industry_id" jdbcType="DECIMAL" property="industryId" />
		<result column="environment" jdbcType="VARCHAR" property="environment" />
		<result column="latitude" jdbcType="DECIMAL" property="latitude" />
		<result column="longitude" jdbcType="DECIMAL" property="longitude" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="company_size" jdbcType="VARCHAR" property="companySize" />
	</resultMap>


	<sql id="select_columns">
		id ,
		name ,
		address,
		telephone,
		contact_Name,
		mobile,
		email,
		industry_id,
		enterprise_legal_person,
		create_time,
		update_time,
		data_state,
		longitude,
		latitude,
		briefs,
		environment,
		type,
		company_size
	</sql>

	<sql id="insert_columns">
		name,
		address,
		telephone,
		contact_Name,
		mobile,
		email,
		industry_id,
		enterprise_legal_person,
		create_time,
		data_state,
		longitude,
		latitude,
		briefs,
		environment,
		type,
		company_size
	</sql>

	<select id="getById" resultMap="resultMap">
		select <include refid="select_columns" /> from t_company where id = #{id}
	</select>

	<update id="updateById">
		UPDATE t_company
		<set>
			<if test="obj.name != null and obj.name != ''">
				name = #{obj.name,jdbcType=VARCHAR},
			</if>
			<if test="obj.contactName != null and obj.contactName != ''">
				contact_name = #{obj.contactName},
			</if>
			<if test="obj.telephone != null and obj.telephone != ''">
				telephone = #{obj.telephone,jdbcType=VARCHAR},
			</if>
			<if test="obj.environment != null and obj.environment != ''">
				environment = #{obj.environment,jdbcType=VARCHAR},
			</if>
			<if test="obj.briefs != null and obj.briefs != ''">
				briefs = #{obj.briefs,jdbcType=VARCHAR},
			</if>
			<if test="obj.companySize != null and obj.companySize !=''">
				company_size = #{obj.companySize},
			</if>
			<if test="obj.mobile != null and obj.mobile !=''">
				mobile = #{obj.mobile},
			</if>
			<if test="obj.type != null and obj.type !=''">
				type = #{obj.type},
			</if>
			update_time = now()
		</set>
		WHERE ID = #{id,jdbcType=DECIMAL}
	</update>

	<select id="queryCount" resultType="java.lang.Integer">
		SELECT count(1) FROM t_company
		<trim prefix="WHERE" prefixOverrides="AND">
			data_state = 1
			<if test="obj.keyWords !=null and obj.keyWords != ''">
				AND name like concat('%',#{obj.keyWords},'%')
			</if>
			<if test="obj.industryId != null and obj.industryId != ''">
				and industry_id = #{obj.industryId,jdbcType=DECIMAL}
			</if>
		</trim>
	</select>

	<!-- 根据productId获取product -->
	<select id="queryPage" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
		SELECT
		<include refid="select_columns" />
		FROM t_company
		<trim prefix="WHERE" prefixOverrides="AND">
			data_state = 1
			<if test="obj.name !=null and obj.name != ''">
				AND (name like concat('%',#{obj.name},'%')
			</if>
			<if test="obj.contactName !=null and obj.contactName != ''">
				AND (contact_Name like concat('%',#{obj.contactName},'%')
			</if>
			<if test="obj.industryId != null and obj.industryId != ''">
				and industry_id = #{obj.industryId,jdbcType=DECIMAL}
			</if>
		</trim>
		order by name
		<include refid="ORACLE.paginationEnd" />
	</select>

	<select id="queryCompanyByName" resultMap="resultMap">
		select * from t_company where data_state = 1 and name = #{name}
	</select>

	<delete id="deleteById">
		DELETE t_company where id = #{id,jdbcType=DECIMAL}
	</delete>

	<update id="deleteByIdInLogic">
		update t_company set data_state = 0 where id = #{id,jdbcType=DECIMAL}
	</update>


	<insert id="insert" useGeneratedKeys="true" keyProperty="obj.id" parameterType="com.webapps.common.entity.Company">
		insert into t_company (
			<include refid="insert_columns" />
		)
		values
		(
			#{obj.name},
			#{obj.address},
			#{obj.telephone},
			#{obj.contactName},
			#{obj.mobile},
			#{obj.email},
			#{obj.industryId},
			#{obj.enterpriseLegalPerson},
			#{obj.createTime},
			#{obj.dataState},
			#{obj.longitude},
			#{obj.latitude},
			#{obj.briefs},
			#{obj.environment},
			#{obj.type},
			#{obj.companySize}
		)
	</insert>
</mapper>