<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IEnrollApprovalMapper">
	<resultMap id="resultMap" type="com.webapps.common.entity.EnrollApproval">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="enrollment_id" jdbcType="DECIMAL" property="enrollmentId" />
		<result column="user_id" jdbcType="DECIMAL" property="user.id" />
		<result column="user_name" jdbcType="DECIMAL" property="user.name" />
		<result column="user_mobile" jdbcType="DECIMAL" property="user.mobile" />
		<result column="recruitment_id" jdbcType="DECIMAL" property="recruitment.id" />
		<result column="recruitment_title" jdbcType="DECIMAL" property="recruitment.title" />
		<result column="company_id" jdbcType="DECIMAL" property="company.id" />
		<result column="company_name" jdbcType="DECIMAL" property="company.name" />
		<result column="operator_id" jdbcType="DECIMAL" property="operatorId" />
		<result column="is_talked" jdbcType="VARCHAR" property="isTalked" />
		<result column="talk_result" jdbcType="VARCHAR" property="talkResult" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="state" jdbcType="DECIMAL" property="state" />
		<result column="type" jdbcType="DECIMAL" property="type" />
		<result column="data_state" jdbcType="DECIMAL" property="dataState" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
		<result column="failed_reason" jdbcType="VARCHAR" property="failedReason" />
		<result column="reward" jdbcType="DECIMAL" property="reward" />
		<result column="entry_date" jdbcType="VARCHAR" property="entryDate" />
		<result column="cashback_days" jdbcType="DECIMAL" property="cashbackDays" />
		<result column="id_Card_No" jdbcType="VARCHAR" property="user.idCardNo" />
		<result column="approver_id" jdbcType="DECIMAL" property="approverId" />
		<result column="approver_name" jdbcType="VARCHAR" property="approverName" />
		<result column="approve_time" jdbcType="VARCHAR" property="approveTime" />
		<result column="talker_name" jdbcType="VARCHAR" property="talkerName" />
	</resultMap>

	<sql id="select_columns">
		tea.ID,tea.user_id,tea.state,tea.type, tea.data_state,tea.CREATE_TIME,tea.UPDATE_TIME,
		tea.operator_id,tea.remark,tea.is_talked,tea.talk_result,tea.enrollment_id,
		tea.reward,tea.entry_date,tea.cashback_days,tea.failed_Reason,approver_id,approver_name,approve_time
	</sql>

	<sql id="insert_columns">
		user_id,enrollment_id,state, data_state,CREATE_TIME,operator_id,
		remark,type,reward,entry_date,cashback_days
	</sql>
	
	<!-- 查询所有 -->
	<select id="queryAll" resultMap="resultMap">
		select <include refid="select_columns" /> from t_enrollment_approval where data_state = 1
	</select>
	
	<select id="getById" resultMap="resultMap">
		select <include refid="select_columns" /> from t_enrollment_approval tea where data_state = 1 and id=#{id}
	</select>
	
	<select id="queryListByFkId" resultMap="resultMap">
		select <include refid="select_columns" />,
		tc.name company_name,
		tr.title recruitment_title 
		from t_enrollment_approval tea 
		left join t_enrollment te on te.id = tea.enrollment_id
		left join t_recruitment tr on tr.id = te.recruitment_id 
		left join t_company tc on tc.id=tr.company_id
		<trim prefix="WHERE" prefixOverrides="AND">
			tea.data_state = 1 
			<if test="obj.recruitment != null and obj.recruitment.id != null">
				and te.recruitment_id = #{obj.recruitment.id}
			</if>
			<if test="obj.company != null and obj.company.id != null">
				and tr.company_id = #{obj.company.id}
			</if>
			<if test="obj.company.name != null and obj.company.name != ''">
				tc.name like concat('%',#{obj.company.name},'%')
			</if>
		</trim>
	</select>
	
	<select id="queryByUserIdTypeAndState" resultMap="resultMap">
		select * from t_enrollment_approval where user_id=#{userId} and type=#{type} and state = #{state} order by create_time DESC
	</select>

	<select id="queryByUserIdEnrollmentIdTypeAndState" resultMap="resultMap">
		select * from t_enrollment_approval
		where user_id=#{userId} and enrollment_id = #{enrollmentId}
		and type=#{type} and state = #{state}
	</select>
	
	<select id="countByFkIds" resultMap="resultMap">
		select conut(1) from t_enrollment_approval tea 
		left join t_enrollment te on te.id = tea.enrollment_id
		left join t_recruitment tr on tr.id = te.recruitment_id 
		left join t_company tc on tc.id=tr.company_id
		<trim prefix="WHERE" prefixOverrides="AND">
			tea.data_state = 1 
			<if test="obj.recruitment != null and obj.recruitment.id != null">
				and te.recruitment_id = #{obj.recruitmentId}
			</if>
			<if test="obj.company != null and obj.company.id != null">
				and tr.company_id = #{obj.companyId}
			</if>
		</trim>
	</select>
	
	
	
	<!-- 查询行政区总数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		SELECT count(1) from t_enrollment_approval tea 
		left join t_enrollment te on te.id = tea.enrollment_id
		left join t_recruitment tr on tr.id = te.recruitment_id 
		left join t_company tc on tc.id=tr.company_id
		left join t_user tu on tu.id = tea.user_id
		<trim prefix="WHERE" prefixOverrides="AND">
			tea.data_state = 1
			<if test="obj.talkerId !=null and obj.talkerId != ''">
				and te.talker_id = #{obj.talkerId}
			</if>
			<if test="obj.type != null and obj.type == 1">
				and tea.type = #{obj.type}
				<if test="obj.state != null and obj.state != '' or obj.state == 0">
					and tea.state = #{obj.state}
				</if>
			</if>
			<if test="obj.type != null and obj.type == 2">
				and tea.type = #{obj.type}
				<if test="obj.state != null and obj.state != '' or obj.state == 0">
					and tea.state = #{obj.state}
				</if>
			</if>
			<if test="obj.user != null and obj.user.name != null and obj.user.name != ''">
				and tu.name = #{obj.user.name}
			</if>
			<if test="obj.user != null and obj.user.mobile !=null and obj.user.mobile != ''">
				and tu.mobile = #{obj.user.mobile}
			</if>
			<if test="obj.company != null and obj.company.name != null and obj.company.name != ''">
				and tc.name like concat('%',#{obj.company.name},'%')
			</if>
			<if test="obj.enrollTimeStart != null and obj.enrollTimeStart != ''">
				and tea.create_time >= #{obj.enrollTimeStart}
			</if>
			<if test="obj.enrollTimeEnd != null and obj.enrollTimeEnd != ''">
				and #{obj.enrollTimeEnd} >= tea.create_time
			</if>
			<!--<if test="obj.approverId != null and obj.approverId != ''">-->
				<!--and #{obj.approverId} = tea.approver_id-->
			<!--</if>-->
			<if test="obj.approverName != null and obj.approverName != ''">
				and #{obj.approverName} = tea.approver_name
			</if>
			<if test="obj.approveTimeEnd != null and obj.approveTimeEnd != ''">
				and #{obj.approveTimeEnd} >= tea.approve_time
			</if>
			<if test="obj.approveTimeStart != null and obj.approveTimeStart != ''">
				and tea.approve_time >= #{obj.approveTimeStart}
			</if>
		</trim>
	</select>

	<!-- 分页查询行政区信息 -->
	<select id="queryPage" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
		SELECT
		<include refid="select_columns" />,
		tc.id company_id,
		tc.name company_name,
		tr.id recruitment_id,
		tr.title recruitment_title,
		tu.name as user_name,
		tu.mobile as user_mobile,
		tu.id_card_no as id_card_no,
		te.talker_name as talker_name
		from t_enrollment_approval tea 
		INNER join t_enrollment te on te.id = tea.enrollment_id
		left join t_recruitment tr on tr.id = te.recruitment_id 
		left join t_company tc on tc.id=tr.company_id
		left join t_user tu on tu.id=tea.user_id
		<trim prefix="WHERE" prefixOverrides="AND">
			tea.data_state = 1
			<if test="obj.talkerId !=null and obj.talkerId != ''">
				and te.talker_id = #{obj.talkerId}
			</if>
			<if test="obj.type != null and obj.type == 1">
				and tea.type = #{obj.type}
				<if test="obj.state != null and obj.state != '' or obj.state == 0">
					and tea.state = #{obj.state}
				</if>
			</if>
			<if test="obj.type != null and obj.type == 2">
				and tea.type = #{obj.type}
				<if test="obj.state != null and obj.state != '' or obj.state == 0">
					and tea.state = #{obj.state}
				</if>
			</if>
			<if test="obj.user != null and obj.user.name != null and obj.user.name != ''">
				and tu.name = #{obj.user.name}
			</if>
			<if test="obj.user != null and obj.user.mobile !=null and obj.user.mobile != ''">
				and tu.mobile = #{obj.user.mobile}
			</if>
			<if test="obj.company != null and obj.company.name != null and obj.company.name != ''">
				and tc.name like concat('%',#{obj.company.name},'%')
			</if>
			<if test="obj.enrollTimeStart != null and obj.enrollTimeStart != ''">
				and tea.create_time >= #{obj.enrollTimeStart}
			</if>
			<if test="obj.enrollTimeEnd != null and obj.enrollTimeEnd != ''">
				and #{obj.enrollTimeEnd} >= tea.create_time
			</if>
			<!--<if test="obj.approverId != null and obj.approverId != ''">-->
				<!--and #{obj.approverId} = tea.approver_id-->
			<!--</if>-->
			<if test="obj.approverName != null and obj.approverName != ''">
				and #{obj.approverName} = tea.approver_name
			</if>
			<if test="obj.approveTimeEnd != null and obj.approveTimeEnd != ''">
				and #{obj.approveTimeEnd} >= tea.approve_time
			</if>
			<if test="obj.approveTimeStart != null and obj.approveTimeStart != ''">
				and tea.approve_time >= #{obj.approveTimeStart}
			</if>
		</trim>
		order by tea.create_time desc
		<include refid="ORACLE.paginationEnd" />
	</select>
	
	<update id="batchDeleteInLogic">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update t_enrollment_approval
			<set>
				data_state=#{item.dataState},
				update_time = #{item.updateTime}
			</set>
			where id = #{item.id}
         </foreach>
	</update>
	
	<update id="deleteByIdInLogic">
		update t_enrollment_approval set data_state = 0 where id = #{id,jdbcType=DECIMAL}
	</update>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="obj.id">
		insert into t_enrollment_approval
		(
			<include refid="insert_columns" />
		)
		values
		(
			#{obj.user.id},
			#{obj.enrollmentId},
			#{obj.state},
			#{obj.dataState},
			#{obj.createTime},
			#{obj.operatorId},
			#{obj.remark},
			#{obj.type},
			#{obj.reward},
			#{obj.entryDate},
			#{obj.cashbackDays}
		)
	</insert>
	
	<update id="updateById">
		update t_enrollment_approval
		set
			operator_id = #{obj.operatorId},
			state = #{obj.state},
			is_talked = #{obj.isTalked},
			talk_result = #{obj.talkResult},
			remark = #{obj.remark},
			failed_reason = #{obj.failedReason},
			data_state = #{obj.dataState},
			update_time = #{obj.updateTime},
			reward = #{obj.reward},
			entry_date = #{obj.entryDate},
			cashback_days = #{obj.cashbackDays},
			approver_id = #{obj.approverId},
			approver_name = #{obj.approverName},
			update_time = #{obj.updateTime},
			approve_time = #{obj.approveTime}
		where id = #{id}
	</update>
	
	<update id="updateApproveInfo">
		update t_enrollment_approval
		set 
			approver_id = #{obj.approverId},
			approver_name = #{obj.approverName},
			update_time = #{obj.updateTime},
			approve_time = #{obj.approveTime}
		where id = #{id}
	</update>
	
</mapper>