<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IPictureMapper">
	<resultMap id="resultMap" type="com.webapps.common.entity.Picture">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="fk_id" jdbcType="DECIMAL" property="fkId" />
		<result column="pic_Url" jdbcType="VARCHAR" property="picUrl" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="type" jdbcType="DECIMAL" property="type" />
		<result column="data_state" jdbcType="DECIMAL" property="dataState" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
		<result column="title" jdbcType="VARCHAR" property="title" />
	</resultMap>

	<sql id="select_columns">
		ID,fk_id,pic_Url,type,remark, data_state,CREATE_TIME,UPDATE_TIME,title
	</sql>

	<sql id="insert_columns">
		fk_id,pic_Url,type,remark, data_state,CREATE_TIME,title
	</sql>
	
	<select id="getById" resultMap="resultMap">
		select <include refid="select_columns" /> from t_picture where id = #{id}
	</select>
	
	<!-- 查询所有 -->
	<select id="queryAll" resultMap="resultMap">
		select <include refid="select_columns" /> from t_picture where data_state = 1
	</select>
	
	<select id="queryByType" resultMap="resultMap">
		select <include refid="select_columns" /> from t_picture where type = #{type} and data_state = 1
	</select>
	
	<select id="queryByFkIdType" resultMap="resultMap">
		select <include refid="select_columns" /> from t_picture where type = #{type} and fk_id=#{fkId} and data_state = 1
	</select>
	
	<select id="queryListByFkId" resultMap="resultMap">
		select <include refid="select_columns" /> from t_picture where fk_id = #{fk_id} and data_state = 1
	</select>
	
	<select id="queryListByFkIdAndType" resultMap="resultMap">
		select <include refid="select_columns" /> from t_picture 
		where fk_id = #{fkId} and data_state = 1 and type = #{type}
		order by create_time desc
	</select>

	<select id="queryUserPictures" resultMap="resultMap">
		SELECT * from t_picture where fk_id = #{userId} and type in(41,42,51,52)
	</select>
	
	<!-- 查询行政区总数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		SELECT count(1) FROM t_picture
		<trim prefix="WHERE" prefixOverrides="AND">
			data_state = 1 
			<if test="obj.type != null and obj.type != ''">
				and type = #{obj.type,jdbcType=DECIMAL}
			</if>
			<if test="obj.fkId != null and obj.fkId != ''">
				and fk_id = #{obj.fkId,jdbcType=DECIMAL}
			</if>
		</trim>
	</select>

	<!-- 分页查询行政区信息 -->
	<select id="queryPage" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
		SELECT
		<include refid="select_columns" />
		FROM t_picture
		<trim prefix="WHERE" prefixOverrides="AND">
			data_state = 1 
			<if test="obj.type != null and obj.type != ''">
				and type = #{obj.type,jdbcType=DECIMAL}
			</if>
			<if test="obj.fkId != null and obj.fkId != ''">
				and fk_id = #{obj.fkId,jdbcType=DECIMAL}
			</if>
		</trim>
		order by create_time desc
		<include refid="ORACLE.paginationEnd" />
	</select>
	
	<!-- 用于初始化数据时使用 -->
	<update id="batchDeleteInLogic">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update t_picture
			<set>
				data_state = 0,
				update_time = #{item.updateTime}
			</set>
			where id = #{item.id}
         </foreach>
	</update>
	
	<update id="deleteInLogicByPicture">
		update t_picture set data_state = 0 ,update_time = #{obj.updateTime} where id = #{obj.id}
	</update>
	
	<update id="deleteByIdInLogic">
		update t_picture set data_state = 0 where id = #{id,jdbcType=DECIMAL}
	</update>
	
	<update id="updateById">
		update t_picture 
		set 
		data_state = #{obj.dataState},
		pic_url = #{obj.picUrl},
		update_time = #{obj.updateTime}
		where id = #{id,jdbcType=DECIMAL}
	</update>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="obj.id" parameterType="com.webapps.common.entity.Picture">
		insert into t_picture
		(
			<include refid="insert_columns" />
		)
		values
		(
			#{obj.fkId},
			#{obj.picUrl},
			#{obj.type},
			#{obj.remark},
			#{obj.dataState},
			#{obj.createTime},
			#{obj.title}
		)
	</insert>
</mapper>