<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IProvinceMapper">
	<resultMap id="resultMap" type="com.webapps.common.entity.Province">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="parent_id" jdbcType="DECIMAL" property="parentId" />
		<result column="longitude" jdbcType="DECIMAL" property="longitude" />
		<result column="latitude" jdbcType="DECIMAL" property="latitude" />
		<result column="level" jdbcType="DECIMAL" property="level" />
		<result column="data_state" jdbcType="DECIMAL" property="dataState" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
	</resultMap>

	<sql id="select_columns">
		ID,level,code,parent_Id,name, longitude, latitude,data_state,CREATE_TIME,UPDATE_TIME
	</sql>

	<sql id="insert_columns">
		level,code,parent_Id,name, longitude, latitude,data_state,CREATE_TIME
	</sql>
	
	<select id="getById" resultMap="resultMap">
		select <include refid="select_columns" /> from t_province where id = #{id}
	</select>
	
	<!-- 查询所有 -->
	<select id="queryAll" resultMap="resultMap">
		select <include refid="select_columns" /> from t_province
	</select>
	
	<!-- 根据行政区号查询 -->
	<select id="getByCode" resultMap="resultMap">
		select <include refid="select_columns" /> from t_province where code = #{code}
	</select>
	
	<!-- 根据父级行政区号查询 -->
	<select id="queryByParentId" resultMap="resultMap">
		select <include refid="select_columns" /> from t_province where parent_id = #{parentId}
	</select>
	
	<!-- 根据行政区等查询 -->
	<select id="queryByLevel" resultMap="resultMap">
		select <include refid="select_columns" /> from t_province where level = #{level}
	</select>
	
	<!-- 查询行政区总数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		SELECT count(1) FROM t_province
		<trim prefix="WHERE" prefixOverrides="AND">
			data_state = 1 
			<if test="obj.keyWords !=null and obj.keyWords != ''">
				AND name like concat('%',#{obj.keyWords},'%')
			</if>
			<if test="obj.level != null and obj.level != ''">
				and level = #{obj.level,jdbcType=DECIMAL}
			</if>
			<if test="obj.code != null and obj.code != ''">
				and code = #{obj.code,jdbcType=VARCHAR}
			</if>
			<if test="obj.parentId != null and obj.parentId != ''">
				and parent_id = #{obj.parentId,jdbcType=DECIMAL}
			</if>
		</trim>
	</select>

	<!-- 分页查询行政区信息 -->
	<select id="queryPage" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
		SELECT
		<include refid="select_columns" />
		FROM t_province
		<trim prefix="WHERE" prefixOverrides="AND">
			data_state = 1 
			<if test="obj.keyWords !=null and obj.keyWords != ''">
				AND name like concat('%',#{obj.keyWords},'%')
			</if>
			<if test="obj.level != null and obj.level != ''">
				and level = #{obj.level,jdbcType=DECIMAL}
			</if>
			<if test="obj.code != null and obj.code != ''">
				and code = #{obj.code,jdbcType=VARCHAR}
			</if>
			<if test="obj.parentId != null and obj.parentId != ''">
				and parent_id = #{obj.parentId,jdbcType=DECIMAL}
			</if>
		</trim>
		order by name
		<include refid="ORACLE.paginationEnd" />
	</select>
	
	<!-- 用于初始化数据时使用 -->
	<update id="batchUpdate">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update t_province
			<set>
				parent_id=#{item.parentId},
				level = #{item.level}
			</set>
			where id = #{item.id}
         </foreach>
	</update>
</mapper>