<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IRateDtoMapper">
    <resultMap id="resultMap" type="com.webapps.common.dto.RateDto">
        <id column="talker_id" jdbcType="DECIMAL" property="talkerId"/>
        <result column="talker_name" jdbcType="VARCHAR" property="talkerName"/>
        <result column="talker_mobile" jdbcType="VARCHAR" property="talkerMobile"/>
        <result column="talk_count" jdbcType="DECIMAL" property="talkCount"/>
        <result column="entry_count" jdbcType="DECIMAL" property="entryCount"/>
        <result column="expire_count" jdbcType="DECIMAL" property="expireCount"/>
        <result column="entry_rate" jdbcType="DECIMAL" property="entryRate"/>
        <result column="expire_rate" jdbcType="DECIMAL" property="expireRate"/>
        <result column="state" jdbcType="DECIMAL" property="state"/>
        <result column="type" jdbcType="DECIMAL" property="type"/>
    </resultMap>

    <sql id="select_columns">
		talker_id,talker_name,talker_mobile,talk_count,entry_count,expire_count,entry_rate,expire_rate,state,type
	</sql>

    <select id="queryCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        (
        SELECT
        count1 AS entry_count,
        count2 AS talk_count,
        count3 AS expire_count,
        count1 / count2 AS entry_rate,
        count3 / count2 AS expire_rate,
        t_user. NAME AS talker_name,
        t_user.mobile AS talker_mobile,
        t_user.id AS talker_id
        FROM
        (
        SELECT
        talker_id,
        count(state) AS count1
        FROM
        t_enrollment
        WHERE
        state > 20
        GROUP BY
        talker_id
        ) AS temp_1
        INNER JOIN (
        SELECT
        talker_id,
        count(is_talked) AS count2
        FROM
        t_enrollment
        WHERE
        is_talked = 1
        GROUP BY
        talker_id
        ) AS temp_2 ON temp_1.talker_id = temp_2.talker_id
        INNER JOIN (
        SELECT
        talker_id,
        count(state) AS count3
        FROM
        t_enrollment
        WHERE
        state = 31
        GROUP BY
        talker_id
        ) AS temp_3 ON temp_1.talker_id = temp_3.talker_id
        INNER JOIN t_user ON temp_1.talker_id = t_user.id
        WHERE
        temp_1.talker_id = temp_2.talker_id
        AND temp_2.talker_id = temp_3.talker_id
        ) temp_0
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="obj.talkerName != null and obj.talkerName != ''">
                and talker_name like concat('%',#{obj.talkerName},'%')
            </if>
            <if test="obj.talkerMobile != null and obj.talkerMobile != ''">
                and talker_mobile = #{obj.talkerMobile}
            </if>
            <if test="obj.type != null and obj.type==1">
                <if test="obj.rateStart != null and obj.rateStart != ''">
                    and entry_count/talk_count >=(#{obj.rateStart}/100)
                </if>
                <if test="obj.rateEnd != null and obj.rateEnd != ''">
                    and (#{obj.rateEnd}/100) >= entry_count/talk_count
                </if>
            </if>
            <if test="obj.type != null and obj.type==2">
                <if test="obj.rateStart != null and obj.rateStart != ''">
                    and expire_count/talk_count >=(#{obj.rateStart}/100)
                </if>
                <if test="obj.rateEnd != null and obj.rateEnd != ''">
                    and (#{obj.rateEnd}/100) >= expire_count/talk_count
                </if>
            </if>
            <if test="obj.type != null and obj.type != '' or obj.type==0">
                <if test="obj.rateStart != null and obj.rateStart != ''">
                    and entry_count/talk_count >=(#{obj.rateStart}/100)
                    and expire_count/talk_count >=(#{obj.rateStart}/100)
                </if>
                <if test="obj.rateEnd != null and obj.rateEnd != ''">
                    and (#{obj.rateEnd}/100) >= entry_count/talk_count
                    and (#{obj.rateEnd}/100) >= expire_count/talk_count
                </if>
            </if>
        </trim>
    </select>

    <!-- 分页查询行政区信息 -->
    <select id="queryPage" resultMap="resultMap">
        <include refid="ORACLE.paginationStart"/>
        SELECT
        *
        FROM
        (
        SELECT
        count1 AS entry_count,
        count2 AS talk_count,
        count3 AS expire_count,
        count1 / count2 AS entry_rate,
        count3 / count2 AS expire_rate,
        t_user. NAME AS talker_name,
        t_user.mobile AS talker_mobile,
        t_user.id AS talker_id
        FROM
        (
        SELECT
        talker_id,
        count(state) AS count1
        FROM
        t_enrollment
        WHERE
        state > 20
        GROUP BY
        talker_id
        ) AS temp_1
        INNER JOIN (
        SELECT
        talker_id,
        count(is_talked) AS count2
        FROM
        t_enrollment
        WHERE
        is_talked = 1
        GROUP BY
        talker_id
        ) AS temp_2 ON temp_1.talker_id = temp_2.talker_id
        INNER JOIN (
        SELECT
        talker_id,
        count(state) AS count3
        FROM
        t_enrollment
        WHERE
        state = 31
        GROUP BY
        talker_id
        ) AS temp_3 ON temp_1.talker_id = temp_3.talker_id
        INNER JOIN t_user ON temp_1.talker_id = t_user.id
        WHERE
        temp_1.talker_id = temp_2.talker_id
        AND temp_2.talker_id = temp_3.talker_id
        ) temp_0
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="obj.talkerName != null and obj.talkerName != ''">
                and talker_name like concat('%',#{obj.talkerName},'%')
            </if>
            <if test="obj.talkerMobile != null and obj.talkerMobile != ''">
                and talker_mobile = #{obj.talkerMobile}
            </if>
            <if test="obj.type != null and obj.type != '' and obj.type==1">
                <if test="obj.rateStart != null and obj.rateStart != ''">
                    and entry_count/talk_count >=(#{obj.rateStart}/100)
                </if>
                <if test="obj.rateEnd != null and obj.rateEnd != ''">
                    and (#{obj.rateEnd}/100) >= entry_count/talk_count
                </if>
            </if>
            <if test="obj.type != null and obj.type != '' and obj.type==2">
                <if test="obj.rateStart != null and obj.rateStart != ''">
                    and expire_count/talk_count >=(#{obj.rateStart}/100)
                </if>
                <if test="obj.rateEnd != null and obj.rateEnd != ''">
                    and (#{obj.rateEnd}/100) >= expire_count/talk_count
                </if>
            </if>
            <if test="obj.type != null and obj.type != '' or obj.type==0">
                <if test="obj.rateStart != null and obj.rateStart != ''">
                    and entry_count/talk_count >=(#{obj.rateStart}/100)
                    and expire_count/talk_count >=(#{obj.rateStart}/100)
                </if>
                <if test="obj.rateEnd != null and obj.rateEnd != ''">
                    and (#{obj.rateEnd}/100) >= entry_count/talk_count
                    and (#{obj.rateEnd}/100) >= expire_count/talk_count
                </if>
            </if>
        </trim>
        order by talker_name desc
        <include refid="ORACLE.paginationEnd"/>
    </select>
</mapper>