<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IRecommendMapper">
	<resultMap id="resultMap" type="com.webapps.common.entity.Recommend">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="user_id" jdbcType="DECIMAL" property="userId" />
		<result column="recruitment_Id" jdbcType="DECIMAL" property="recruitmentId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="mobile" jdbcType="VARCHAR" property="fee" />
		<result column="state" jdbcType="DECIMAL" property="state" />
		<result column="data_state" jdbcType="DECIMAL" property="dataState" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
	</resultMap>

	<sql id="select_columns">
		ID,user_id,recruitment_Id,name,mobile,state, data_state,CREATE_TIME,UPDATE_TIME
	</sql>

	<sql id="insert_columns">
		user_id,recruitment_Id,name,mobile,state, data_state,CREATE_TIME,UPDATE_TIME
	</sql>
	
	<select id="getById" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recommend where id = #{id}
	</select>
	
	<!-- 查询所有 -->
	<select id="queryAll" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recommend where data_state = 1
	</select>
	
	<!-- 根据父级行政区号查询 -->
	<select id="queryByUserId" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recommend where user_id = #{userId} and data_state = 1
	</select>
	
	<!-- 根据行政区等查询 -->
	<select id="queryByRecruitmentId" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recommend where recruitment_id = #{recruitmentId} and data_state = 1
	</select>
	
	<!-- 查询行政区总数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		SELECT count(1) FROM t_recommend tr 
		left join t_user tu on tr.user_id = tu.id
		left join t_recruitment tre on tr.recruitment_id = tre.id
		left join t_company tc on tc.id = tre.company_id
		<trim prefix="WHERE" prefixOverrides="AND">
			data_state = 1 
			<if test="obj.keyWords !=null and obj.keyWords != ''">
				AND (
					tu.name like concat('%',#{obj.keyWords},'%') 
					or
					tr.name like concat('%',#{obj.keyWords},'%')
					or
					tre.title like concat('%',#{obj.keyWords},'%')
					or
					tc.name like concat('%',#{obj.keyWords},'%')
				)
			</if>
			<if test="obj.mobile != null and obj.mobile != ''">
				and mobile = #{obj.mobile,jdbcType=VARCHAR}
			</if>
			<if test="obj.type != null and obj.type != ''">
				and type = #{obj.type,jdbcType=DECIMAL}
			</if>
		</trim>
	</select>

	<!-- 分页查询行政区信息 -->
	<select id="queryPage" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
		SELECT
		<include refid="select_columns" />
		FROM t_recommend tr 
		left join t_user tu on tr.user_id = tu.id
		left join t_recruitment tre on tr.recruitment_id = tre.id
		left join t_company tc on tc.id = tre.company_id
		<trim prefix="WHERE" prefixOverrides="AND">
			data_state = 1 
			<if test="obj.keyWords !=null and obj.keyWords != ''">
				AND (
					tu.name like concat('%',#{obj.keyWords},'%') 
					or
					tr.name like concat('%',#{obj.keyWords},'%')
					or
					tre.title like concat('%',#{obj.keyWords},'%')
					or
					tc.name like concat('%',#{obj.keyWords},'%')
				)
			</if>
			<if test="obj.mobile != null and obj.mobile != ''">
				and mobile = #{obj.mobile,jdbcType=VARCHAR}
			</if>
			<if test="obj.type != null and obj.type != ''">
				and type = #{obj.type,jdbcType=DECIMAL}
			</if>
		</trim>
		order by name
		<include refid="ORACLE.paginationEnd" />
	</select>
	
	<insert id="insert">
		insert into t_recommend 
		(
			<include refid="insert_columns" />
		)
		values
		(
			#{obj.userId},
			#{obj.recruitmentId},
			#{obj.name},
			#{obj.mobile},
			#{obj.state},
			#{obj.dataState},
			#{obj.createTime}
		)
	</insert>
	
	<update id="updateById">
		update t_recommend 
		set 
			recruitment_id = #{obj.recruitmentId},
			name = #{obj.name},
			mobile = #{obj.mobile},
			state = #{obj.state},
			data_state = #{obj.dataState},
			update_time = now()
		where id = #{id}
	</update>
</mapper>