<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IRecommendMapper">
	<resultMap id="resultMap" type="com.webapps.common.entity.Recommend">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="user_id" jdbcType="DECIMAL" property="user.id" />
		<result column="user_name" jdbcType="DECIMAL" property="user.name" />
		<result column="user_mobile" jdbcType="DECIMAL" property="user.mobile" />
		<result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="state" jdbcType="DECIMAL" property="state" />
		<result column="age" jdbcType="DECIMAL" property="age" />
		<result column="gender" jdbcType="DECIMAL" property="gender" />
		<result column="data_state" jdbcType="DECIMAL" property="dataState" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
	</resultMap>

	<sql id="select_columns">
		tr.ID,tr.user_id,tr.name,tr.mobile,tr.age,tr.gender,tr.state, tr.data_state,tr.CREATE_TIME,tr.UPDATE_TIME,invite_code
	</sql>

	<sql id="insert_columns">
		user_id,name,mobile,age,gender,state, data_state,CREATE_TIME,invite_code
	</sql>
	
	<select id="getById" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recommend where id = #{id}
	</select>
	
	<!-- 查询所有 -->
	<select id="queryAll" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recommend where data_state = 1
	</select>
	
	<!-- 查询所有 -->
	<select id="queryAllByDataState" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recommend
		<if test="dataState != null and dataState != ''">
			where data_State = dataState 
		</if>
	</select>
	
	<select id="queryByUserId" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recommend tr where user_id = #{userId} and data_state = 1 order by create_time desc
	</select>
	
	<select id="queryByMobile" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recommend tr where mobile = #{mobile} and state=2 order by create_time desc
	</select>
	
	<select id="getByUserIdAndCodeAndPhone" resultMap="resultMap">
		select <include refid="select_columns" /> 
		from t_recommend tr 
		where user_id = #{userId} 
			and invite_code = #{inviteCode}
			and mobile = #{mobile} 
			and data_state = 1 
		order by UPDATE_TIME desc
	</select>
	
	<!-- 用户推荐时判断被推荐人是否可以被推荐 -->
	<select id="queryCountForUserRecommend" resultType="java.lang.Integer">
		SELECT count(1) FROM t_recommend tr 
		left join t_user tu on tr.user_id = tu.id
		<trim prefix="WHERE" prefixOverrides="AND">
			tr.data_state = 1 
			<if test="obj.name !=null and obj.name != ''">
				and tr.name like concat('%',#{obj.name},'%')
			</if>
			<if test="obj.mobile != null and obj.mobile != ''">
				and tr.mobile = #{obj.mobile,jdbcType=VARCHAR}
			</if>
			<if test="obj.user != null and obj.user.name != null and obj.user.name !='' ">
				and tu.name = #{obj.user.name,jdbcType=VARCHAR}
			</if>
		</trim>
	</select>
	
	<select id="queryCount" resultType="java.lang.Integer">
		SELECT count(1) FROM t_recommend tr 
		left join t_user tu on tr.user_id = tu.id
		<trim prefix="WHERE" prefixOverrides="AND">
			tr.data_state = 1 
			<if test="obj.name !=null and obj.name != ''">
				and tr.name like concat('%',#{obj.name},'%')
			</if>
			<if test="obj.mobile != null and obj.mobile != ''">
				and tr.mobile = #{obj.mobile,jdbcType=VARCHAR}
			</if>
			<if test="obj.user != null and obj.user.name != null and obj.user.name !='' ">
				and tu.name = #{obj.user.name,jdbcType=VARCHAR}
			</if>
		</trim>
	</select>

	<!-- 分页查询行政区信息 -->
	<select id="queryPage" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
		SELECT
		<include refid="select_columns" />,
		tu.name as user_name,
		tu.mobile as user_mobile
		FROM t_recommend tr 
		left join t_user tu on tr.user_id = tu.id
		<trim prefix="WHERE" prefixOverrides="AND">
			tr.data_state = 1 
			<if test="obj.name !=null and obj.name != ''">
				and tr.name like concat('%',#{obj.name},'%')
			</if>
			<if test="obj.mobile != null and obj.mobile != ''">
				and tr.mobile = #{obj.mobile,jdbcType=VARCHAR}
			</if>
			<if test="obj.user != null and obj.user.name != null and obj.user.name !='' ">
				and tu.name = #{obj.user.name,jdbcType=VARCHAR}
			</if>
		</trim>
		order by create_time desc
		<include refid="ORACLE.paginationEnd" />
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="obj.id" parameterType="com.webapps.common.entity.Recommend">
		insert into t_recommend 
		(
			<include refid="insert_columns" />
		)
		values
		(
			#{obj.user.id},
			#{obj.name},
			#{obj.mobile},
			#{obj.age},
			#{obj.gender},
			#{obj.state},
			#{obj.dataState},
			#{obj.createTime},
			#{obj.inviteCode}
		)
	</insert>
	
	<update id="updateById">
		update t_recommend 
		set 
			name = #{obj.name},
			mobile = #{obj.mobile},
			invite_code = #{obj.inviteCode},
			state = #{obj.state},
			data_state = #{obj.dataState},
			age = #{obj.age},
			gender = #{obj.gender},
			update_time = #{obj.updateTime}
		where id = #{id}
	</update>
</mapper>