<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IRecruitmentMapper">
	<resultMap id="resultMap" type="com.webapps.common.entity.Recruitment">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="company_id" jdbcType="DECIMAL" property="company.id" />
		<result column="brief_info" jdbcType="VARCHAR" property="briefInfo" />
		<result column="end_date" jdbcType="VARCHAR" property="endDate" />
		<result column="recruitment_Number" jdbcType="DECIMAL" property="recruitmentNumber" />
		<result column="commision" jdbcType="DECIMAL" property="commision" />
		<result column="work_type" jdbcType="DECIMAL" property="workType" />
		<result column="work_address" jdbcType="VARCHAR" property="workAddress" />
		<result column="salary_low" jdbcType="DECIMAL" property="salaryLow" />
		<result column="salary_high" jdbcType="DECIMAL" property="salaryHigh" />
		<result column="requirement" jdbcType="VARCHAR" property="requirement" />
		<result column="publish_time" jdbcType="VARCHAR" property="publishTime" />
		<result column="user_id" jdbcType="DECIMAL" property="userId" />
		<result column="type" jdbcType="DECIMAL" property="type" />
		<result column="cashback" jdbcType="DECIMAL" property="cashback" />
		<result column="cashback_days" jdbcType="DECIMAL" property="cashbackDays" />
		<result column="cashback_for_broker" jdbcType="DECIMAL" property="cashbackForBroker" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="update_time" jdbcType="VARCHAR" property="updateTime" />
		<result column="data_state" jdbcType="DECIMAL" property="dataState" />
		<result column="publish_type" jdbcType="DECIMAL" property="publishType" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="QQ" jdbcType="VARCHAR" property="QQ" />
		<result column="weixin" jdbcType="VARCHAR" property="weiXin" />
		<result column="salary_briefs" jdbcType="VARCHAR" property="salaryBriefs" />
		<result column="cashback_briefs" jdbcType="VARCHAR" property="cashbackBriefs" />
		<result column="job_briefs" jdbcType="VARCHAR" property="jobBriefs" />
		<result column="company_name" jdbcType="VARCHAR" property="company.name" />
		<result column="is_banner" jdbcType="DECIMAL" property="isBanner" />
		<result column="banner_id" jdbcType="DECIMAL" property="bannerConfig.id" />
		<result column="banner_type" jdbcType="DECIMAL" property="bannerConfig.type" />
		<result column="pic_url" jdbcType="VARCHAR" property="bannerConfig.picUrl" />
		<result column="is_message" jdbcType="DECIMAL" property="isMessage" />
		<result column="company_address" jdbcType="VARCHAR" property="company.address" />
	</resultMap>

	<sql id="select_columns">
		tr.id,
		tr.company_id,
		tr.title,
		tr.brief_info,
		tr.end_date,
		tr.recruitment_number,
		tr.commision,
		tr.work_type,
		tr.work_address,
		tr.salary_low,
		tr.salary_high,
		tr.requirement,
		tr.publish_time,
		tr.user_id,
		tr.type,
		tr.cashback,
		tr.cashback_days,
		tr.cashback_for_broker,
		tr.create_time,
		tr.update_time,
		tr.data_state,
		tr.publish_type,
		tr.mobile,
		tr.QQ,
		tr.weixin,
		tr.salary_briefs,
		tr.cashback_briefs,
		tr.job_briefs,
		tr.is_banner,
		tr.is_message
	</sql>

	<sql id="insert_columns">
		company_id,
		title,
		brief_info,
		end_date,
		recruitment_number,
		commision,
		work_type,
		work_address,
		salary_low,
		salary_high,
		requirement,
		publish_time,
		user_id,
		type,
		cashback,
		cashback_days,
		cashback_for_broker,
		data_state,
		create_time,
		publish_type,
		mobile,
		QQ,
		weixin,
		salary_briefs,
		cashback_briefs,
		job_briefs,
		is_banner,
		is_message
	</sql>
	
	<select id="getById" resultMap="resultMap">
		select <include refid="select_columns" />,
		tbc.id as banner_id,
		tbc.pic_url as pic_url,
		tbc.type as banner_type 
		from t_recruitment tr 
		left join t_banner_config tbc on tbc.fk_id = tr.id and tbc.type = 4 and tbc.data_state = 1
		where tr.id = #{id}
	</select>
	
	<!-- 查询所有 -->
	<select id="queryAll" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recruitment tr
	</select>
	
	<!-- 根据父级行政区号查询 -->
	<select id="queryByCompanyId" resultMap="resultMap">
		select <include refid="select_columns" /> from t_recruitment tr where company_id = #{companyId}
	</select>
	
	<!-- 查询行政区总数 -->
	<select id="queryCount" resultType="java.lang.Integer">
		SELECT count(1) FROM t_recruitment tr
		left join t_company tc on tr.company_id = tc.id
		left join t_banner_config tbc on tbc.fk_id = tr.id and tbc.type = 4 and tbc.data_state = 1
		<trim prefix="WHERE" prefixOverrides="AND">
			tr.data_state = 1
			<if test="obj.title !=null and obj.title != ''">
				AND tr.title like concat('%',#{obj.title},'%')
			</if>
			<if test="obj.company!= null and obj.company.id != null">
				and tr.company_id = #{obj.company.id,jdbcType=DECIMAL}
			</if>
			<if test="obj.company!= null and obj.company.name != null">
				and tc.name like concat('%',#{obj.company.name},'%')
			</if>
			<if test="obj.type != null and obj.type != ''">
				and tr.type = #{obj.type}
			</if>
			<if test="obj.publishType != null and obj.publishType != ''">
				and tr.publish_type = #{obj.publishType}
			</if>
			<if test="obj.publishTimeStart != null and obj.publishTimeStart != ''">
				and tr.create_time >= #{obj.publishTimeStart}
			</if>
			<if test="obj.publishTimeEnd != null and obj.publishTimeEnd != ''">
				and #{obj.publishTimeEnd} >= tr.create_time
			</if>
		</trim>
	</select>

	<!-- 分页查询行政区信息 -->
	<select id="queryPage" resultMap="resultMap">
		<include refid="ORACLE.paginationStart" />
		SELECT
		<include refid="select_columns" />,
		tc.name as company_name,
		tc.address as company_address,
		tbc.fk_id as banner_id,
		tbc.pic_url as pic_url,
		tbc.type as banner_type
		FROM t_recruitment tr
		left join t_company tc on tr.company_id = tc.id
		left join t_banner_config tbc on tbc.fk_id = tr.id and tbc.type=4 and tbc.data_state = 1
		<trim prefix="WHERE" prefixOverrides="AND">
			tr.data_state = 1
			<if test="obj.title !=null and obj.title != ''">
				AND tr.title like concat('%',#{obj.title},'%')
			</if>
			<if test="obj.company != null and obj.company.id != null and obj.company.id != ''">
				and tr.company_id = #{obj.company.id,jdbcType=DECIMAL}
			</if>
			<if test="obj.company != null and obj.company.name != null and obj.company.name != ''">
				and tc.name like concat('%',#{obj.company.name},'%')
			</if>
			<if test="obj.type != null and obj.type != ''">
				and tr.type = #{obj.type}
			</if>
			<if test="obj.publishType != null and obj.publishType != ''">
				and tr.publish_type = #{obj.publishType}
			</if>
			<if test="obj.publishTimeStart != null and obj.publishTimeStart != ''">
				and tr.create_time >= #{obj.publishTimeStart}
			</if>
			<if test="obj.publishTimeEnd != null and obj.publishTimeEnd != ''">
				and #{obj.publishTimeEnd} >= tr.create_time
			</if>
		</trim>
		order by type asc, create_time desc
		<include refid="ORACLE.paginationEnd" />
	</select>
	
	<!-- 用于初始化数据时使用 -->
	<update id="batchUpdate">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update t_recruitment
			<set>
				parent_id=#{item.parentId},
				level = #{item.level}
			</set>
			where id = #{item.id}
         </foreach>
	</update>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="obj.id">
		insert into t_recruitment
		(<include refid="insert_columns" />)
		values
		(
			#{obj.company.id},
			#{obj.title},
			#{obj.briefInfo},
			#{obj.endDate},
			#{obj.recruitmentNumber},
			#{obj.commision},
			#{obj.workType},
			#{obj.workAddress},
			#{obj.salaryLow},
			#{obj.salaryHigh},
			#{obj.requirement},
			#{obj.publishTime},
			#{obj.userId},
			#{obj.type},
			#{obj.cashback},
			#{obj.cashbackDays},
			#{obj.cashbackForBroker},
			#{obj.dataState},
			#{obj.createTime},
			#{obj.publishType},
			#{obj.mobile},
			#{obj.QQ},
			#{obj.weiXin},
			#{obj.salaryBriefs},
			#{obj.cashbackBriefs},
			#{obj.jobBriefs},
			#{obj.isBanner},
			#{obj.isMessage}
		)
	</insert>
	
	<update id="updateById">
		update t_recruitment set
		company_id = #{obj.company.id},
		title = #{obj.title},
		brief_info = #{obj.briefInfo},
		end_date = #{obj.endDate},
		recruitment_number = #{obj.recruitmentNumber},
		commision = #{obj.commision},
		work_type = #{obj.workType},
		work_address = #{obj.workAddress},
		salary_low = #{obj.salaryLow},
		salary_high = #{obj.salaryHigh},
		requirement = #{obj.requirement},
		publish_time = #{obj.publishTime},
		user_id = #{obj.userId},
		type = #{obj.type},
		cashback = #{obj.cashback},
		cashback_days = #{obj.cashbackDays},
		cashback_for_broker = #{obj.cashbackForBroker},
		update_time = #{obj.updateTime},
		data_state = #{obj.dataState},
		publish_type = #{obj.publishType},
		mobile = #{obj.mobile},
		QQ = #{obj.QQ},
		weixin = #{obj.weiXin},
		salary_briefs = #{obj.salaryBriefs},
		cashback_briefs = #{obj.cashbackBriefs},
		job_briefs = #{obj.jobBriefs},
		is_banner = #{obj.isBanner},
		is_message = #{obj.isMessage}
		where id=#{id}
	</update>
	
	<update id="deleteByIdInLogic">
		update t_recruitment set data_state = 0 where id = #{id}
	</update>
</mapper>