<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IUserPermissionMapper">
    <resultMap id="resultMap" type="com.webapps.common.entity.UserPermission">
        <id column="ID" jdbcType="DECIMAL" property="id"/>
        <result column="permission_relation_id" jdbcType="VARCHAR" property="permissionRelationId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="pr_id" jdbcType="VARCHAR" property="prId"/>
        <result column="pr_permission_id" jdbcType="VARCHAR" property="permissionId"/>
        <result column="pr_parent_permission_id" jdbcType="VARCHAR" property="parentPermissionId"/>
        <result column="p_name" jdbcType="VARCHAR" property="name"/>
        <result column="p_code" jdbcType="VARCHAR" property="code"/>
        <result column="p_level" jdbcType="VARCHAR" property="level"/>
        <result column="p_type" jdbcType="VARCHAR" property="type"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="data_state" jdbcType="DECIMAL" property="dataState"/>
    </resultMap>

    <sql id="select_columns">
		ID,permission_relation_id,user_id,create_time,update_time,data_state
	</sql>

    <sql id="insert_columns">
		permission_relation_id,user_id,data_state,create_time
	</sql>

    <select id="getById" resultMap="resultMap">
        select
        <include refid="select_columns"/>
        from t_user_permission where id = #{id} and data_state=1
    </select>

    <!-- 查询所有 -->
    <select id="queryAll" resultMap="resultMap">
        select
        <include refid="select_columns"/>
        from t_user_permission where data_state=1
    </select>

    <select id="queryByPermissionId" resultMap="resultMap">
        select
        <include refid="select_columns"/>
        from t_user_permission where permission_id = #{permissionId} and data_state=1
    </select>

    <select id="queryByParentId" resultMap="resultMap">
        select
        <include refid="select_columns"/>
        from t_user_permission where parent_permission_id = #{parentId} and data_state=1
    </select>

    <select id="queryByConditions" resultMap="resultMap">
        select
        up.*,
        p.name AS p_name,
        p.code AS p_code,
        p.type AS p_type,
        p.level AS p_level,
        pr.permission_id AS pr_permission_id,
        pr.parent_permission_id as pr_parent_permission_id,
        pr.id as pr_id
        from t_user_permission up
        INNER JOIN t_permission_relation pr on pr.id = up.permission_relation_id
        INNER JOIN t_permission p on p.id = pr.permission_id
        <trim prefix="WHERE" prefixOverrides="AND">
            and up.data_state = 1
            and pr.data_state = 1
            <if test="obj.permissionRelationId !=null and obj.permissionRelationId != ''">
                AND permission_relation_id = #{obj.permissionRelationId}
            </if>
            <if test="obj.userId != null and obj.userId != '' ">
                and user_id = #{obj.userId}
            </if>
            <if test="obj.level != null and obj.level != '' ">
                and level = #{obj.level}
            </if>
            <if test="obj.type != null and obj.type != '' ">
                and type = #{obj.type}
            </if>
        </trim>
    </select>
    
    <select id="queryListByUserIdLevelAndPerIdNotIn" resultMap="resultMap">
    	select
    		tup.*
    	from t_user_permission tup 
    		inner join t_permission_relation tpr on tup.permission_relation_id = tpr.id
    		inner join t_permission tp on tp.id = tpr.permission_id
    	where 
    		user_id = #{userId} 
    		and tp.level = #{level}
    		and permission_relation_id not in 
	    	<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
	            ${item}
	        </foreach>
    </select>

    <update id="batchDeleteInLogic">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t_user_permission
            <set>
                data_state = 0,
                update_time = #{item.updateTime}
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="obj.id">
        insert into t_user_permission
        (<include refid="insert_columns"/>)
        values
        (
        #{obj.permissionRelationId},
        #{obj.userId},
        1,
        #{obj.createTime}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_user_permission (<include refid="insert_columns"/>)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.permissionRelationId},
            #{item.userId},
            1,
            #{item.createTime})
        </foreach>
    </insert>

    <update id="updateById">
        update t_user_permission set
		permission_relation_id = #{obj.permissionRelationId},
		user_id = #{obj.userId},
		data_state = #{obj.dataState},
		update_time = #{obj.updateTime}
		where id = #{id}
	</update>

    <update id="deleteByIdInLogic">
		update t_user_permission 
		set data_state = 0,
		update_time = #{obj.updateTime}
		where id = #{id}
	</update>

    <delete id="batchDelete" parameterType="java.util.List">
        DELETE FROM t_user_permission WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

    <delete id="deleteByPermissionRelationId">
        DELETE FROM t_user_permission where permission_relation_id = #{permissionRelationId}
    </delete>

    <delete id="deleteByUserId">
        DELETE FROM t_user_permission WHERE user_id = #{userId}
    </delete>

    <delete id="deleteByFkIds">
        DELETE FROM t_user_permission
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="permissionRelationId !=null and permissionRelationId != '' or permissionRelationId==0">
                AND permission_relation_id = #{permissionRelationId}
            </if>
            <if test="userId != null and userId != '' or userId==0">
                and user_id = #{userId}
            </if>
        </trim>
    </delete>
    
    <delete id="deleteByUserIdAndPerIdNotIn">
    	delete from t_user_permission 
    	where user_id = #{userId} and permission_relation_id not in 
    	<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>
    
    <delete id="batchDeleteByUserIdAndPerIds">
    	delete from t_user_permission 
    	where user_id = #{userId} and permission_relation_id in 
    	<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>
</mapper>