<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.webapps.mapper.IUserApproveCountMapper">
	<resultMap id="resultMap" type="com.webapps.common.dto.UserApproveCountDto">
		<id column="id" jdbcType="DECIMAL" property="userId" />
		<result column="count" jdbcType="DECIMAL" property="count" />
	</resultMap>

	<select id="queryTalkCount" resultMap="resultMap">
		SELECT
		count(t_enrollment.id),
		t_user.id
		FROM
		t_user
		LEFT JOIN t_enrollment ON t_user.id = entry_approver_id and is_talked <![CDATA[<>]]> 1
		where t_user.user_type==4
		GROUP BY
		t_user.id
	</select>
	
	<select id="queryEntryApproveCount" resultMap="resultMap">
		SELECT
		count(t_enrollment_approval.id),
		t_user.id
		FROM
		t_user
		LEFT JOIN t_enrollment_approval ON t_user.id = approver_id 
			and t_enrollment_approval.state = 0 
			and t_enrollment_approval.type = 1
		where t_user.user_type = 5
		GROUP BY
		t_user.id
	</select>
	
	<select id="queryExpireApproveCount" resultMap="resultMap">
		SELECT
		count(t_enrollment_approval.id),
		t_user.id
		FROM
		t_user
		LEFT JOIN t_enrollment_approval ON t_user.id = approver_id 
			and t_enrollment_approval.state = 0 
			and t_enrollment_approval.type = 2
		where t_user.user_type = 6
		GROUP BY
		t_user.id
	</select>
	
	<select id="queryExpenditureApproveCount" resultMap="resultMap">
		SELECT
		count(t_apply_expenditure.id),
		t_user.id
		FROM
		t_user
		LEFT JOIN t_apply_expenditure ON t_user.id = approver_id 
			and t_apply_expenditure.state = 0 
		where t_user.user_type = 7
		GROUP BY
		t_user.id
	</select>

</mapper>